body{
    padding: 0px;
    margin: 0px;
    background-color: #393E46;
    color: #f2f2f2;
}
*{
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}

hr{
    opacity: 35%;
}
/* header section */
.my-name{
    font-family: 'Tangerine', cursive;
}
.header{
    text-align: center;
    padding: 30px;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
}
.header img{
    width: 150px;
}
.header h1{
    text-shadow:4px 1px 5px rgb(185 78 78);
}
.logo-img{
    border-radius: 5px 35px 4px 35px;
    box-shadow: black 5px 7px 14px -4px;
}

.swipe-text{
    opacity: 50%;
}
.sname{
    font-size: 1.3rem;
}
.more a{
    /* text-decoration: none; */
    color: white;
}
/* navbar section */
.containers{
    height: 40px;
}
.containers a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 10px 20px;
    font-family: 'Neucha', cursive;
}

.navbar{
    background-color:#222831;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.menu-button{
    cursor: pointer;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 15px;
}
.side-menu{
    background-color:#222831;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    transition: transform .3s ease-in-out;
    transform: translate3d(-290px,0,0);
    z-index: 1;
}
.side-menu ul{
    list-style-type: none;
}
.side-menu ul li{
    padding: 15px 10px;
}
.side-menu ul li a{
    color: white;
    text-decoration: none;
    font-weight:600;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    
}
.side-menu ul li a:hover{
   opacity: 60%;
}
.display-side-menu{
    transform: translate3d(0,0,0);
}
.io-menu{
    float: right;
    font-size: large;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000073;
    display: none;
}
.display-overlay{
    display: block !important;
}


/* who am i section */
.card{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 55px;
   

}
.swipe{
    color: white;
    opacity: 80%;
    
}



/* hr line */
.hr{
    width: 158px;
}

/* skill section */
.skill{
    font-family: 'Nunito', sans-serif;
    text-align: center;
   

}
.sl{
    width: 50%;
    float: left;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    
}
.skill2{
    width: 50%;
    float: left;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    
    
    
}

.html{
    background-color: #00000070;
    margin-left: 84px;
    margin-right: 87px;
    border-radius: 6px;
    margin-top: 15px;
    box-shadow: black 1px 5px 8px 0px ;
    background-color: #222831;
}

.d-flex{
    display: flex;
}

.w-100{
    width: 100%;
}

/* CV section */
.cv{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 147px;
    
}
.cvbtn{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    
}
.cvbtn button{
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    background-color: #d2d5d9;
    border: none;
    color: #0a0a0a;
    padding: 9px 13px;
    border-radius: 8px;
    box-shadow: 0px 6px 8px -3px black;
    margin-bottom: 59px;
    outline: 2px solid #222831a6;
}

.cvbtn button:hover{
    
    background-color: #222831a6;
    color: #f2f2f2;
}    
/* contact section */
.contact{
    padding: 25px;
    font-family: 'Nunito', sans-serif;
    width: 600px;
    margin: auto;
    
    
}
.contact input{
    margin-bottom: 10px;
}
.contact h1{
    text-align: center;
}
label{
    font-size: 17px;
}
input[type=text],input[type=email],textarea{
    width: 100%;
    padding: 9px;
    border: 1px solid silver;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    background-color: #f2f2f2;
}
.sub-btn{
    width: unset;
    cursor: pointer;
    background-color: #333;
    border: none;
    color: white;
    padding:15px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    margin-right: 20px;
    box-shadow: black 7px 3px 9px -3px;
    
}
#reset-btn{
    background-color: tomato;
}
#reset-btn:hover{
    background-color: #ff5637;
}
.sub-btn:hover{
    background-color: rgb(47, 45, 45);
    color: #f2f2f2;
}
/* follow section */
.follow{
    margin-top: 48px;
    font-family: 'Nunito', sans-serif;
    
}
.follow h1,p,h2{
    text-align: center;
}
.human-icon{
    cursor: pointer;
}
.io{
    display: flex;
    justify-content: center;
    color: white;
    
}
.io a{
    padding: 0px 10px;
    color: white;
}
.io a:hover{
    color:lightslategrey
}



footer{
    background-color: #222831;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
}

/* responsive section */
/* for nav */
@media screen and (max-width: 400px){
    .topnav a{
        float: none;
        width: 100%;
    }
    .html{
        background-color: #00000070;
        margin-left: 84px;
        margin-right: 87px;
        border-radius: 6px;
        margin-top: 15px;
        box-shadow: black 1px 5px 8px 0px ;
        background-color: #222831;
    }
}
/* for head before nav */
@media screen and (max-width: 400px){
    .header h1{
        font-size: 20px;
    }
    .html{
        background-color: #00000070;
        margin-left: 84px;
        margin-right: 87px;
        border-radius: 6px;
        margin-top: 15px;
        box-shadow: black 1px 5px 8px 0px ;
        background-color: #222831;
    }
}

/* CV button */

@media screen and (max-width:400px) {
    .cvbtn button{
        width: 50%;
    }
    
}

@media screen and (max-width:200px) {
    .cvbtn button{
        width: 20%;
    }
    .html{
        background-color: #00000070;
        margin-left: 84px;
        margin-right: 87px;
        border-radius: 6px;
        margin-top: 15px;
        box-shadow: black 1px 5px 8px 0px ;
        background-color: #222831;
    }
   
   
}
@media  screen and (max-width:430px) {
    .card p{
        text-align:center;
    }
    .flex-wrap{
        flex-wrap: wrap;
    }
    .html{
        background-color: #00000070;
        margin-left: 84px;
        margin-right: 87px;
        border-radius: 6px;
        margin-top: 15px;
        box-shadow: black 1px 5px 8px 0px;
        background-color: #222831;
    }
}
@media screen and (max-width:568px){
    .contact{
        width: auto;
    }
    .html{
        background-color: #00000070;
        margin-left: 84px;
        margin-right: 87px;
        border-radius: 6px;
        margin-top: 15px;
        box-shadow: black 1px 5px 8px 0px;
        background-color: #222831;
    }
}
@media screen and (max-width:398) {
    .my-name{
        font-size: 3em;
    }
    .logo-img{
        max-width: 10%;
    }
    .html{
        background-color: #00000070;
        margin-left: 84px;
        margin-right: 87px;
        border-radius: 6px;
        margin-top: 15px;
        box-shadow: black 1px 5px 8px 0px;
        background-color: #222831;
    }
}


